@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  --fields-border-radious: 5px;
}
body {
  @apply bg-black;
}
/* Headings Styles */
h1 {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 700; /* Bold */
  font-style: normal;
}
h2 {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 600; /* Semi-bold (custom weight, adjust as needed) */
  font-style: normal;
}
/* Paragraph Styles */
p,
button {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 400; /* Regular */
  font-style: normal;
}
/* Buttons Style */
.button-icon-left {
  @apply flex border-2  rounded-default items-center justify-between p-[5px_9px_5px_9px] h-[42px] m-[5px];
}
button {
  @apply opacity-60  border-[3px] border-solid border-[transparent] hover:opacity-100 ease-in-out duration-300 bg-orange;
}
button:focus {
  @apply bg-red opacity-100;
}
input:focus,
input:focus-visible {
  @apply ease-in-out duration-300 border-[3px] border-solid border-red outline-none;
}
input:not([type='checkbox']) {
  @apply border-[3px] border-[transparent] rounded-default min-h-[42px] p-[2px_14px_2px_23px] m-[5px];
}
/* Input Checkbox */
input[type='checkbox'] {
  @apply rounded-full border-[3px] border-solid border-red min-h-[42px] p-[2px_14px_2px_23px] m-[5px];
}
input[type='checkbox']:checked {
  @apply bg-green border-[transparent];
}
